container_commands:
    #00_optimize_composer:
    #    command: "./composer.phar install --optimize-autoloader --no-dev"
    #    cwd: "/var/app/ondeck"
    01_optimize_laravel_route:
        command: "php artisan route:cache"
        cwd: "/var/app/ondeck"
    02_optimize_laravel_view:
        command: "php artisan view:cache"
        cwd: "/var/app/ondeck"
    03_optimize_laravel_config:
        command: "php artisan config:cache"
        cwd: "/var/app/ondeck"
    10_migrate:
        command: "php artisan migrate --force"
        cwd: "/var/app/ondeck"
        leader_only: true
