.turbolinks-progress-bar {
    height: 2px;
    background-color: #4299e1;
}

@tailwind base;

@tailwind components;

h1 {
    @apply mb-8 text-4xl;
}
h2 {
    @apply mb-6 text-2xl;
}
h3 {
    @apply mb-4 text-xl;
}
h4 {
    @apply mb-2 text-lg;
}
h5 {
    @apply mb-1 text-base;
}
h6 {
    @apply mb-0 text-sm;
}

.error {
    @apply font-thin text-red-600 text-sm;
}

a:hover, a.active {
    @apply text-blue-800;
}
a {
    @apply font-thin text-blue-500;
}

p {
    @apply mb-8 font-thin leading-8;
}

.form-input:focus {
    @apply shadow-none bg-white border-gray-500;
}
.form-input {
    @apply bg-gray-200 appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-800 leading-tight;
}


.btn-primary {
    @apply bg-gray-700 text-white;
}
.btn-primary:hover {
    @apply bg-gray-800 text-white;
}
.btn-secondary {
    @apply bg-gray-300 text-black;
}
.btn-secondary:hover {
    @apply bg-gray-200 text-black;
}
.btn-danger {
    @apply bg-red-700 text-white;
}
.btn-danger:hover {
    @apply bg-red-800 text-white;
}

.btn:disabled {
    @apply opacity-50 cursor-not-allowed;
}
.btn:focus {
    @apply shadow-outline outline-none;
}
.btn {
    @apply shadow py-2 px-4 rounded font-normal self-start;
}

.markdown {
    pre,
    h1 {
        @apply my-8;
    }

    h2,
    h3 {
        @apply my-6;
    }

    p,
    h4,
    h5 {
        @apply my-4;
    }

    code {
        @apply bg-gray-100;
    }

    pre > code {
        @apply p-8 font-thin text-sm;
        display: block;
        line-height: 1.25;
        user-select: all;
        overflow-x: auto;
    }

    p code,
    li code {
        padding: 3px 5px;
        color: #f66d9b;
    }

    img,
    table {
        @apply max-w-full;
    }
}

@tailwind utilities;
